body {
  font-style: italic;
  lighting-color: aquamarine;
  font-size: medium;
  text-decoration: wavy;
  background-color: darkgray;
}
body.h1 {
  text-align: center;
  font-size: 44px;
  margin-top: auto;
  margin-bottom: 25px;

}
body.h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: chocolate;
}